version: '3.8'

services:
  web:
    image: node:20-alpine
    container_name: nice-filmes
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - NEXT_PUBLIC_TMDB_API_KEY=${NEXT_PUBLIC_TMDB_API_KEY}
      - NEXT_PUBLIC_TMDB_BASE_URL=https://api.themoviedb.org/3
    command: npm run dev
